/* Ensure this styles the app container */
.App {
  text-align: center;
  background-color: #4e342e; /* Apply your desired background color */
  min-height: 100vh; /* Full screen height */
  display: flex; /* Center content */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; /* Adjust text color for readability */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: transparent; /* Optional: Let the App container define the background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffab91; /* Adjust link color for consistency */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
